* {
    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.bordered {
    border: 1px solid #d3d3d3;
}

.centered {
    display: block;
    margin:auto auto;
    width: auto;
}

#back1 {
    margin-right: 10px;
}

.final-button {
    margin-top: 20px;
}


html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#infoSection {

    height: 100%;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(128,128,128,0.5);
    z-index: 999;
    
}

#infoText {

    background-color: white;
    width: 50%;
    height: 200px;
    margin: auto auto;
    margin-top: 10%;;
}

#screenTopNavigation {

    height: 50px;
    background-color:#009999;
    position: relative;
}

nav > div {

    position: absolute;
    right: 20px;

}



h1, h2 {
    text-align: center;
}

.centerAlignContent {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}



section > div {
    width: 100%;
    height: 100%;
}

#mainBodyContent{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#childrenScreens {
    width: 100%;
    height: 90%;
}


#next {

    display: block;
    margin: auto auto;
    margin-top: 20px;
}

.languageType {
    height: 100px;
    width: 20%;
    margin: auto auto;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    border-radius: 25px;
}

.languageType:hover {

    background-color: orange;
    opacity: 0.5;
}

.selectedLanguage {

    background-color: orange;

}


p.languageType:nth-of-type(2) {

    margin-top: 10px;
    margin-bottom: 10px;

}


/*cameras screen css*/


.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
  margin-left: 20%;
}

.grid-item {

    border: 1px solid black;
    width: 150px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*width: 40%;*/
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

/*
    
    Payment Screen Initial

*/


#cameraImage {

    width: 300px;
    border: 1px solid black;
    height: 300px;

}

#cameraPrice,#cameraName {
    text-align: center;
}

















/*feedback screen css*/



/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

fieldset {
    width: 190px;
    display: block;
    margin: auto auto;
    margin-bottom: 20px;
}

#feedbacksubmit {

    display: block;
    margin: auto auto;

}

